{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Password{% endblock %}

{% block body %}
    {{ form_start(requestPassForm) }}

    <div class="container col-md-4 col-sm-12 mt-3">

       <div>
         <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
       </div>

        {{ form_row(requestPassForm.email) }}

        <button class="btn btn-warning mt-2" type="submit">
            Envoyer
        </button>
    </div>
    {{ form_end(requestPassForm) }}
{% endblock %}