{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('app_participant_index') }}">Retour</a>
{% endblock %}
