body{

}

.flash-messages{
    margin-top: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
}

.alert{
    width: 30vw;
    margin-left: 35vw;
}

.actions{
    margin-top: 8vh;
}

#table_main{
    height: 300px;
    overflow-y: scroll;
    border: 3px solid #bfe2e9;
}

#profilepic{
    position: absolute;
    flex-direction: row-reverse;
    width: 95%;
    display: flex;
    height: 100px;
}