<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset("assets/img/sortirlogo.png") }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if app.user %}
    {% include('common/header.html.twig') %}
{% endif %}
{% block body %}{% endblock %}
{% include('common/footer.html.twig') %}
</body>
</html>