{% extends "base.html.twig" %}

{% block title %}Accès interdit - Sortir{% endblock %}

{% block body %}
    <main class="container">
        <section class="row mt-5">
            <div class="col-12">
                <h1>Accès interdit</h1>
                <p>Vous ne disposez pas des droits nécessaires pour accéder à cette page.</p>
            </div>
        </section>
    </main>
{% endblock %}