
{% extends "base.html.twig" %}

{% block title %}Accès interdit - Sortir{% endblock %}

{% block body %}
    <main class="container">
        <section class="row mt-5">
            <div class="col-12">
                <h1>Page introuvable</h1>
                <p>Désolé cette page ne semble pas être accessible pour le moment.</p>
            </div>
        </section>
    </main>
{% endblock %}