{% extends "base.html.twig" %}

{% block title %}Erreur - Sortir{% endblock %}

{% block body %}
    <main class="container">
        <section class="row mt-5">
            <div class="col-12">
                <h1>Erreur</h1>
                <p>Etrange... Le site web ne parvient pas à afficher cette page.</p>
            </div>
        </section>
    </main>
{% endblock %}